@import "tailwindcss";

:root {
  font-family: 'Outfit', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #020617;
  background-image: radial-gradient(circle at 50% 0%, #1e1b4b 0%, #020617 70%);
  background-attachment: fixed;
  color: white;
}