@import "tailwindcss";

:root {
  font-family: 'Outfit', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0b0220;
  color: white;
}